<!doctype html>
{% load static %}
{% load django_htmx %}
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app.css' %}?v={{ SORTIMENT_VERSION }}">
    <title>{% block title %}{% endblock %} | Sortiment</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}{% endblock %}

    {% include "_messages.html" %}

    <script src="{% static "alpine.min.js" %}?v={{ SORTIMENT_VERSION }}" defer></script>
    <script src="{% static "htmx.min.js" %}?v={{ SORTIMENT_VERSION }}" defer></script>
    {% django_htmx_script %}
    {% if debug %}
    <script>
        if (typeof window.htmx !== "undefined") {
            htmx.on("htmx:afterSettle", function(detail) {
                if (
                    typeof window.djdt !== "undefined"
                    && detail.target instanceof HTMLBodyElement
                ) {
                    djdt.show_toolbar();
                }
            });
        }
    </script>
    {% endif %}
    <script>
        const barcode = document.getElementById("id_barcode")
        if (barcode) {
            barcode.addEventListener("keypress", (e) => {
                if (e.code === "Enter") {
                    e.preventDefault();
                    return false;
                }
            })
        }
    </script>
</body>
</html>
