<!doctype html>
{% load static %}
{% load django_htmx %}
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Sortiment</title>

    <link rel="stylesheet" href="{% static 'app.css' %}?v={{ SORTIMENT_VERSION }}" data-turbo-track="reload">
    <script src="{% static "app.min.js" %}?v={{ SORTIMENT_VERSION }}" data-turbo-track="reload" defer></script>
    <meta name="csrf-token" value="{{ csrf_token }}">

    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="dark:bg-gray-950 dark:text-gray-100">
    {% block content %}{% endblock %}

    {% include "_messages.html" %}
</body>
</html>
