{% extends 'base.html' %}
{% load forms %}

{% block title %}Registrácia{% endblock %}

{% block content %}
<div class="w-full min-h-screen bg-blue-600 p-8">
    <div class="bg-white p-8 rounded-md shadow-xl">
        <a class='px-4 py-2 rounded bg-gray-200 hover:bg-gray-600 hover:text-white text-xl' href="{% url 'user_list' %}">Späť</a>

        <h1 class="font-bold text-3xl text-center mb-6">Registrácia nového používateľa</h1>

        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="space-y-2 max-w-md mx-auto mb-6">
                {% for field in form %}
                    {% field field %}
                {% endfor %}
            </div>
            <div class="flex flex-wrap justify-center mt-2">
                <input class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit" value="Vytvoriť">
            </div>
        </form>
    </div>
</div>
{% endblock %}
