{% extends "store/cart_base.html" %}
{% load forms %}

{% block title %}Kreditové operácie{% endblock %}

{% block cartright %}
<div class="max-w-md mx-auto">
    <h2 class="font-bold text-2xl text-center mb-4 mt-6">Kreditové operácie</h2>

    <div class="flex justify-center flex-wrap gap-1 mb-6">
        <a href="{% url 'credit_change' %}" class="btn text-sm bg-blue-600 text-white">Nabitie / výber</a>
        <a href="{% url 'credit_movement' %}" class="btn text-sm bg-gray-200 dark:bg-gray-800">Presun</a>
    </div>

    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="space-y-2 max-w-md mx-auto mb-6">
            {% for field in form %}
                {% field field %}
            {% endfor %}
        </div>
        <div class="flex flex-wrap justify-center mt-2">
            <input class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit" value="Uložiť">
        </div>
    </form>
</div>
{% endblock %}
