{% extends "store/cart_base.html" %}
{% load forms %}

{% block title %}Operácie s kreditom{% endblock %}

{% block cartright %}
<div class="max-w-md mx-auto">
    <h1 class="font-bold text-3xl text-center mb-6 mt-4">Operácie s kreditom</h1>

    <div class="flex justify-center flex-wrap gap-1 mb-6">
        <a href="{% url 'credaddwithdrowal' %}" class="btn text-sm bg-blue-600 text-white">Nabitie / výber</a>
        <a href="{% url 'creditmovement' %}" class="btn text-sm bg-gray-200">Presun</a>
    </div>

    <form method="post" id="add">
        {% csrf_token %}
        <div class="space-y-2 max-w-md mx-auto mb-6">
            {% for field in form %}
                {% field field %}
            {% endfor %}
        </div>
        <div class="flex flex-wrap justify-center mt-2">
            <input class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
