{% extends "store/cart_base.html" %}
{% load forms %}
{% load widget_tweaks %}
{% load icon %}
{% block cartright %}

<div class="max-w-md mx-auto">
    <h2 class="font-bold text-2xl text-center mb-4 mt-6">Operácie s kreditom</h2>

    <div x-data="{'tab': 'edit'}">
        <div class="flex justify-center flex-wrap gap-1 mb-6">
            <a href="#" class="btn text-sm" x-bind:class="tab==='edit' ? 'bg-blue-600 text-white' : 'bg-gray-200'" x-on:click="tab='edit'">Nabitie / výber</a>
            <a href="#" class="btn text-sm" x-bind:class="tab==='transfer' ? 'bg-blue-600 text-white' : 'bg-gray-200'" x-on:click="tab='transfer'">Presun</a>
        </div>

        <form method="post" x-show="tab === 'transfer'" x-cloak>
            {% csrf_token %}
            <div class="space-y-2 max-w-md mx-auto mb-6">
                {% for field in credit_movement_form %}
                    {% field field %}
                {% endfor %}
            </div>
            <div class="flex flex-wrap justify-center mt-2">
                <input class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit" value="Submit">
            </div>
        </form>

        <form method="post" id="add" x-show="tab === 'edit'">
            {% csrf_token %}
            <div class="space-y-2 max-w-md mx-auto mb-6">
                {% for field in credit_add_and_withdrawal_form %}
                    {% field field %}
                {% endfor %}
            </div>
            <div class="flex flex-wrap justify-center mt-2">
                <input class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}
