{% extends 'settings_base.html' %}
{% load forms %}

{% block title %}Upraviť produkt{% endblock %}

{% block setting %}
<h1 class="font-bold text-3xl text-center mb-6 mt-4">Upraviť produkt</h1>

<div class="max-w-md mx-auto">
    {% include "products/_search.html" %}

    {% if product %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="space-y-2 mb-6">
            {% for field in form %}
                {% field field %}
            {% endfor %}
        </div>
        <div class="flex flex-wrap justify-center mt-2">
            <button class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit">Uložiť</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
