{% extends 'settings_base.html' %}
{% load widget_tweaks %}
{% load icon %}
{% load forms %}

{% block title %}Príjem tovaru{% endblock %}

{% block setting %}
<h1 class="font-bold text-3xl text-center mb-6 mt-4">Príjem tovaru</h1>

<div class="max-w-md mx-auto">
    {% include "products/_search.html" %}

    {% if product %}
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="space-y-2 max-w-md mx-auto mb-6" data-controller="import"
                data-import-current-price-value="{{total.price|floatformat}}"
                data-import-current-quantity-value="{{total.quantity|floatformat}}">
                <div>
                    <label for="{{ form.quantity.id_for_label }}" class="text-sm font-medium text-gray-700 dark:text-gray-300">{{ form.quantity.label }}:</label>
                    {% render_field form.quantity class="input mt-1 dark:bg-gray-800 dark:border-0" data-import-target="quantity" data-action="import#reset" %}
                </div>

                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label for="{{ form.unit_price.id_for_label }}" class="text-sm font-medium text-gray-700 dark:text-gray-300">{{ form.unit_price.label }}:</label>
                        {% render_field form.unit_price class="input mt-1 dark:bg-gray-800 dark:border-0" step="0.01" data-import-target="unitPrice" data-action="import#updateTotalPrice" %}
                    </div>
                    <div>
                        <label for="total_price" class="text-sm font-medium text-gray-700 dark:text-gray-300">Nákupná cena spolu:</label>
                        <input type="number" class="input mt-1 dark:bg-gray-800 dark:border-0" id="total_price" step="0.01"
                            data-import-target="totalPrice" data-action="import#updateUnitPrice">
                    </div>
                </div>

                <p class="bg-red-100 p-3 rounded-md border border-red-700 text-red-800 text-sm" data-import-target="zero">
                    <b>Naozaj je nákupná cena nulová?</b>
                    To znamená, že si daný produkt získal zadarmo.
                    Uveď prosím ťa cenu, za ktorú si produkt nakúpil.
                </p>

                {% field form.sell_price %}
                <p class="text-sm text-gray-700">Odporúčaná minimálna predajná cena: <b>
                    <span data-import-target="suggestion">0.000</span> €
                </b></p>
            </div>
            <div class="flex flex-wrap justify-center mt-2">
                <button class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit">Prijať na sklad {{ warehouse.name }}</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
