{% extends 'settings_base.html' %}
{% load widget_tweaks %}
{% load icon %}
{% load forms %}

{% block title %}Príjem tovaru{% endblock %}

{% block setting %}
<h1 class="font-bold text-3xl text-center mb-6 mt-4">Príjem tovaru</h1>

<div class="max-w-md mx-auto">
    {% include "products/_search.html" %}

    {% if form %}
        <form method="post">
            {% csrf_token %}
            <div class="space-y-2 max-w-md mx-auto mb-6" x-data="{'quantity': 0, 'unit': 0, 'total': 0,
                'current': {'price': '{{total.price|escapejs}}', 'quantity': '{{total.quantity|escapejs}}'}}">
                <div>
                    <label for="{{ form.quantity.id_for_label }}" class="text-sm font-medium text-gray-700">{{ form.quantity.label }}:</label>
                    {% render_field form.quantity class="input mt-1" x-model="quantity" @change="unit=0; total=0" %}
                </div>

                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label for="{{ form.unit_price.id_for_label }}" class="text-sm font-medium text-gray-700">{{ form.unit_price.label }}:</label>
                        {% render_field form.unit_price class="input mt-1" step="0.01" x-model="unit" @change="total = (unit*quantity).toFixed(2)" %}
                    </div>
                    <div>
                        <label for="total_price" class="text-sm font-medium text-gray-700">Cena spolu:</label>
                        <input type="number" class="input mt-1" id="total_price" step="0.01" x-model="total" @change="unit = (total/quantity).toFixed(2)">
                    </div>
                </div>
                {% field form.sell_price %}
                <p class="text-sm text-gray-700">Odporúčaná minimálna predajná cena: <b>
                    <span x-text="((parseFloat(current.price) + parseFloat(total)) / (parseInt(quantity) + parseInt(current.quantity))).toFixed(3)">0.000</span> €
                </b></p>
            </div>
            <div class="flex flex-wrap justify-center mt-2">
                <button class='btn bg-blue-600 hover:bg-blue-700 text-white' type="submit">Prijať na sklad {{ warehouse.name }}</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
