{% load icon %}

<turbo-frame class="flex flex-col flex-1 min-h-0 border-t" id="turbo-cart">
    <div class="pl-3 pr-2 py-2 overflow-y-auto">
        <div class="font-bold">Môj nákup</div>

        <div class="space-y-2 mt-3">
            {% for item in cart.items %}
            <div class="flex items-center gap-2">
                <div class="w-12 shrink-0">
                    {% include "store/_item_image.html" with product=item.product %}
                </div>
                <div>
                    <div class="font-bold text-sm">{{ item.product.name }}</div>
                    <div class="text-xs">{{ item.quantity }} × {{ item.product.price }} €</div>
                </div>

                <div class="text-blue-700 text-sm ml-auto shrink-0">{{ item.total_price|floatformat:2 }} €</div>
                <a class="hover:bg-red-400/20 text-red-700 p-3 -m-2 rounded-full shrink-0 -ml-3 cursor-pointer" role="button" href="{% url 'store:cart_remove' item.product.id %}" data-turbo-method="post">
                    {% icon "x" class="w-6 h-6" %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="p-3 mt-auto border-t flex space-x-2 justify-between">
        {% if cart.total_price > user.credit and not user.is_guest %}
            <div class="w-full bg-red-600 btn text-lg cursor-not-allowed text-white">Nedostatok kreditu</div>
        {% else %}
            <a {% if user.is_guest %}data-turbo-confirm="Naozaj si zaplatil/a?"{% endif %} data-turbo-method="post" data-turbo-submits-with="Tset"
            href="{% url 'store:checkout' %}" class="w-full bg-blue-600 hover:bg-blue-700 btn text-lg text-white">Zaplatiť {{ cart.total_price|floatformat:2 }} €</a>
        {% endif %}
        <a href="{% url 'logout' %}" class={% include "store/_button_style.html" with color="red" page_name="" %} title="Odhlásenie" data-turbo-method="post">{% icon "log-out" class="w-6 h-6" %}</a>
    </div>
</turbo-frame>
