{% extends "base.html" %}
{% load icon %}

{% block content %}
<div class="w-full h-screen flex">
    <div class="w-72 bg-gray-100 shrink-0 h-screen max-h-screen border-r flex flex-col">
        <div class="bg-blue-600 text-white font-bold text-center text-xl p-2">
            Sortiment
        </div>
        <div class="p-3 flex text-lg items-baseline">
            <div class="font-bold">{{ user.username }}</div>
            {% if not user.is_guest %}
                <div class="ml-auto text-sm">Kredit: {{ user.credit }} &euro;</div>
            {% endif %}
        </div>
        <div class="flex w-full justify-around pt-1 pb-4 px-3">
            {% if not user.is_guest %}
                <a href="{% url 'store:purchase_history' %}" class="text-gray-700 hover:text-gray-900">{% icon "activity" class="w-6 h-6" %}</a>
                <a href="{% url 'credit' %}" class="text-gray-700 hover:text-gray-900">{% icon "dollar-sign" class="w-6 h-6" %}</a>
                {% if user.is_staff %}
                <a href="{% url 'store:product_management' %}" class="text-gray-700 hover:text-gray-900">{% icon "edit-2" class="w-6 h-6" %}</a>
                {% endif %}
            {% endif %}
            <a href="{% url 'logout' %}" class="text-red-700 hover:text-red-900">{% icon "log-out" class="w-6 h-6" %}</a>
        </div>
        {% include "store/_cart.html" %}
    </div>
    <div class="p-6 overflow-y-auto max-h-screen flex-1">
        {% block cartright %}{% endblock %}
    </div>
</div>
{% endblock %}
