{% extends "base.html" %}

{% block content %}
<div class="w-full min-h-screen flex">
    <div class="w-64 bg-gray-100 shrink-0 border-r">
        <div class="bg-blue-600 text-white font-bold text-center text-xl p-2">
            Sortiment
        </div>
        <div class="py-2 px-3 flex text-lg">
            <div class="font-bold">{{ user.username }}</div>
            <div class="ml-auto">Kredit: {{ user.credit }}&euro;</div>
        </div>
        <a class='px-4 py-2 rounded bg-gray-200 hover:bg-gray-600 hover:text-white text-xl m-2 inline-block' href="{% url 'credit' %}">Zmeny v kredite</a>
        <a class='px-4 py-2 rounded bg-red-200 hover:bg-red-600 hover:text-white text-xl m-2 inline-block' href="{% url 'logout' %}">Odhlás</a>
    </div>
    <div class="p-6 overflow-y-auto flex-1">
        {% block cartright %}{% endblock %}
    </div>
</div>
{% endblock %}
