{% extends 'base.html' %}

{% block title %}Prenos tovaru{% endblock %}

{% block content %}
    <a href="{% url 'store:add_product' %}" class="m-3 bg-blue-600 hover:bg-blue-700 btn text-lg text-white">Vytvor produkt</a>
    <a href="{% url 'store:product_import' %}" class="m-3 bg-blue-600 hover:bg-blue-700 btn text-lg text-white">Nahoď produkty</a>
    <a href="{% url 'store:discard' %}" class="m-3 bg-blue-600 hover:bg-blue-700 btn text-lg text-white">Zahoď produkty</a>
    <a href="{% url 'store:transfer' %}" class="m-3 bg-blue-600 hover:bg-blue-700 btn text-lg text-white">Presun medzi skladmi</a>
    <a href="{% url 'store:inventory' %}" class="m-3 bg-blue-600 hover:bg-blue-700 btn text-lg text-white">Inventúra</a>

{% endblock %}
