{% extends "root.html" %}

{% load icon %}

{% block content %}
    <div class="flex w-screen h-screen p-6 gap-6">
        <div class="flex flex-col shrink-0 bg-white rounded-lg shadow-xl p-6 w-1/5">
            <div class="flex items-center gap-2 border-b pb-4">
                <img src="https://picsum.photos/200" class="rounded-md w-16 h-16 shadow-inner">

                <div>
                    <p>{{ user.username }}</p>
                    <p class="-mt-1 font-bold text-lg">0.00 &euro;</p>
                </div>

                <a href="#" class="ml-auto text-gray-600 hover:text-gray-800">
                    {% icon "settings" %}
                </a>
            </div>
            <h1 class="font-bold text-xl my-2">Tvoj nákup</h1>

            <div class="flex-grow flex flex-col overflow-y-auto gap-2">
                <div class="border py-2 px-3 rounded-md flex items-center">
                    <div>
                        <strong>Kofola 32l</strong>
                        <div>
                            2 <span class="text-sm text-gray-600">&times; 1.25 &euro;</span>
                        </div>
                    </div>
                    <div class="ml-auto text-red-500 hover:text-red-700 cursor-pointer">{% icon "trash-2" %}</div>
                </div>
            </div>

            <div class="border-t mt-auto pt-2">
                <p class="mb-2">Spolu: <strong>0.00 &euro;</strong></p>
                <button class="btn-green">Zaplatiť</button>
            </div>

        </div>

        <div class="flex flex-col bg-white rounded-lg shadow-xl p-6 flex-grow">
            <div class="border-b mb-4 pb-4 flex gap-2">
                <a href="#" class="bg-gray-300 px-4 py-2 rounded-md text-gray-700">Všetky produkty</a>
                <a href="#" class="bg-blue-600 px-4 py-2 rounded-md text-white">Všetky produkty</a>

                <input type="text" autofocus class="ml-auto input" placeholder="Načítaj čiarový kód produktu">
            </div>
            
            <div class="overflow-y-auto">
                <div class="grid grid-cols-8 gap-2">
                    <div class="border rounded-md p-2 flex flex-col">
                        <img src="https://picsum.photos/200" class="rounded-md" alt="">
                        <div class="my-1 flex-grow">
                            <div class="font-bold">Peanuts spicy Alesto</div>
                            <div class="text-sm flex">
                                0.80 &euro;
                                <span class="font-bold text-green-600 ml-auto">2 ks</span>
                            </div>
                        </div>
                        <button class="btn-green text-sm">{% icon "plus-circle" class="w-4 h-4" %} Kúpiť</button>
                    </div>
                    <div class="border rounded-md p-2">
                        <img src="https://picsum.photos/200" class="rounded-md grayscale opacity-50" alt="">
                        <div class="my-1 text-sm">
                            <div class="font-bold">Carré Milky Hazelnut Wafer Slices</div>
                            <div class="flex">
                                0.80 &euro;
                                <span class="font-bold text-orange-600 ml-auto">FKS</span>
                            </div>
                        </div>
                        <button class="btn-disabled text-sm">Nie je na sklade</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
