{% extends "root.html" %}

{% load icon %}

{% block content %}
    <div class="flex w-screen h-screen p-6 gap-6">
        <div class="flex flex-col shrink-0 bg-white rounded-lg shadow-xl p-6 w-1/5">
            <div class="flex items-center gap-2 border-b pb-4">
                <img src="https://picsum.photos/200" class="rounded-md w-16 h-16 shadow-inner">

                <div>
                    <p>{{ user.username }}</p>
                    <p class="-mt-1 font-bold text-lg">{{ user.credit|floatformat:"2u" }} &euro;</p>
                </div>

                <div class="ml-auto flex gap-2">
                    <a href="{% url "settings_credit" %}" class="text-gray-600 hover:text-gray-800">
                        {% icon "settings" %}
                    </a>
                    <a href="{% url "logout" %}" class="text-gray-600 hover:text-gray-800">
                        {% icon "power" %}
                    </a>
                </div>
            </div>

            {% include "store/_cart.html" %}
        </div>

        <div class="flex flex-col bg-white rounded-lg shadow-xl p-6 flex-grow">
            <div class="border-b mb-4 pb-4 flex gap-2">
                <a href="#" class="bg-blue-600 px-4 py-2 rounded-md text-white">Všetky produkty</a>
{#                <a href="#" class="bg-gray-300 px-4 py-2 rounded-md text-gray-700">Všetky produkty</a>#}

{#                <input type="text" autofocus class="ml-auto input" placeholder="Načítaj čiarový kód produktu">#}
            </div>
            
            <div class="overflow-y-auto">
                {% include "store/_product_list.html" %}
            </div>
        </div>
    </div>
{% endblock %}
