{% extends "store/cart_base.html" %}
{% load icon %}

{% block title %}Obchod{% endblock %}

{% block cartright %}

<script>
    document.body.addEventListener("htmx:afterSwap", (evt) => {
        document.getElementById("barcode-form").reset()
        document.getElementById("barcode").focus()
    });
    setInterval(()=>document.getElementById("barcode").focus(), 2000);
</script>

<div class="sticky top-0 bg-white p-6 border-b">
    <form hx-post="{% url 'store:cart_add_barcode' %}" hx-target="#hx-cart" id="barcode-form">
        <input type="text" class="input" id="barcode" name="barcode" placeholder="Načítaj čiarový kód" autocomplete="off">
        <div id="hx-barcode-error"></div>
    </form>
    <script>
        function filter(event) {
            let tags = document.getElementsByClassName("tag");

            let target = window.location.href.split("?")[0] + "?";
            for (let i = 0; i < tags.length; i++) {
                if (!tags[i].classList.contains("opacity-50")) {
                    target += "&tag-" + tags[i].id.split("-")[1] + "=1";
                }
            }

            window.location.href = target;
            event.preventDefault();
        }
    </script>
    <form onsubmit="filter(event)">
        <div class="mt-2 w-full flex flex-row space-x-2">
            {% for tag in tags %}
                <div class="h-8 rounded-full bg-gray-200 flex items-center justify-center flex-row w-min p-2 transition-opacity cursor-default tag {% if not tag.active %}opacity-50{% endif %}" id="tag-{{ tag.name }}"
                     onclick="if(this.classList.contains('opacity-50')) {
                         this.classList.remove('opacity-50');
                     } else {
                         this.classList.add('opacity-50');
                     }
                     document.getElementById('filter-form-submit').click();">
                    <span class="text-gray-700 font-bold">{{ tag.name }}</span>
                </div>
            {% endfor %}
            <input id="filter-form-submit" type="submit" value="Filter" class="hidden">
        </div>
    </form>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-4 p-6" hx-target="#hx-cart" hx-swap="outerHTML">
{% for product in prods %}
    <div class="hover:bg-gray-50 p-2 rounded-lg cursor-pointer {% if product.qty <= 0 %} opacity-30 grayscale hover:opacity-100 {% endif %}" role="button" hx-post="{% url 'store:cart_add' product.id %}">
        {% include "store/_item_image.html" %}
        <h2 class="text-xl font-bold mt-1">{{ product.name }}</h2>
        <div class="flex text-gray-700">
            <div>{{ product.price }}&nbsp;&euro;</div>
            <div class="ml-auto">{{product.qty|safe}}/{{product.totqty|safe}}&nbsp;ks</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
