name: Build and deploy Docker image

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
        with:
          images: ${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@eb539f44b153603ccbfbd98e2ab9d4d0dcaf23a4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Deploy to production
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ vars.DEPLOY_KEEL_URL }}
          data: '{"name": "${{ env.IMAGE_NAME }}", "tag": "${{ github.ref_name }}"}'
          username: keel
          password: ${{ secrets.DEPLOY_KEEL_PASSWORD }}
          httpsCA: ${{ vars.DEPLOY_KEEL_CA }}
